{% extends "bcctapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Interactions</h1>

            {% for interaction in interactions %}
              {% for user in users %}              
                  {% if interaction.author == user.id %}
                    <h3> author: {{ user.username }} </h3>
                  {% endif %}
              {% endfor %}
              <h3> date created: {{ interaction.date_created }} </h3>
              <h3> interaction_type : {{ interaction.interaction_type }} </h3>
              <hr>
            {% endfor %}
             <form method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                 <input type="number"  id="interaction" name="interaction"  value="Your first interaction ">
                 <button type="submit" >Create new interaction</button>
             </form>
{% endblock content %}