{% extends "bcctapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<nav class = "mt-2 mb-4">
    <ol class="cd-breadcrumb w-100">
        {% if user.is_authenticated %}
        <li>Logged in</li>
        {% endif %}
        <li><a class = "no-underline" href="{%url 'my-teams' %}">Teams</a></li>
        <li class = "current"><a class = "no-underline" href="#">Create</a></li>
    </ol>
  </nav>

<h1 class = "my-3 h2">Create a new Patient</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div title = "Enter the patient's first name" class="form-group col-md-6 mb-0">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div title = "Enter the patient's last name" class="form-group col-md-6 mb-0">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div title = "Choose patient's images" class="form-group col-md-6 mb-0">
            {{ form.images|as_crispy_field }}
        </div>
        <div title = "Enter the patient's age" class="form-group col-md-6 mb-0">
            {{ form.age|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div title = "Enter the patient's height" class="form-group col-md-6 mb-0">
            {{ form.patient_height|as_crispy_field }}
        </div>
        <div title = "Enter the patient's weight" class="form-group col-md-6 mb-0">
            {{ form.patient_weight|as_crispy_field }}
        </div>
    </div>

    
    <div class="form-row">
        <div title = "Enter the patient's bra" class="form-group col-md-6 mb-0">
            {{ form.bra|as_crispy_field }}
        </div>
        <div title = "Enter the patient's type of surgery" class="form-group col-md-6 mb-0">
            {{ form.surgery_type|as_crispy_field }}
        </div>
    </div>


    <div class="form-row">
        <div title = "Enter the patient's birthday d/m/y" class="form-group col-md-6 mb-0">
            {{ form.birthday|as_crispy_field }}
        </div>
        <div title = "Enter the patient's surgery date d/m/y" class="form-group col-md-6 mb-0">
            {{ form.surgery_date|as_crispy_field }}
        </div>
    </div>
    <div class="text-right">
        <button class="btn-app px-2 py-1" type="submit" multiple>Create</button>
    </div>
</form>


{% endblock content %}