{% extends "bcctapp/base.html" %}

{% block extra_style %}

<style>
  .team-create {
    border-right: 1px solid grey;
  }
</style>

{% endblock extra_style %}

{% block content %}
<nav class = "m-2">
  <ol class="cd-breadcrumb w-100">
      {% if user.is_authenticated %}
      <li>Logged in</li>
      {% endif %}
      <li><a class = "no-underline" href="{% url 'user-patient' user.username %}">Patients and Teams</a></li>
      <li class = "current"><a class="no-underline" href="#"> Team options</a></li>

  </ol>
</nav>
<div class="container-fluid mt-4 border p-3">
  <div class="row">

    <div class="col-md-6 team-create">
      <h2 class = "my-4 text-center border-bottom pb-3">Create a new <span class="text-primary-color">team</span></h2>

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Add a Name:</label>
            <input class = "form-control" type="text" id="name" name="name" value="Team name">
          </div>
          <div class="text-right
          ">
            <button class = "btn-app py-1 px-2 my-1 mr-0" type="submit">Create</button>
          </div>
        </form>

      </div>


    <div class="col-md-6">
      <h2 class = "my-4 text-center border-bottom pb-3">Add <span class="text-primary-color">user</span>  to a team</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="user_id">Add User Id:</label>
          <input class = "form-control" type="number" min = "1" id="user_id" name="user_id" value="User ID">
        </div>

        <div class="form-group">
          <label for="name">Team Name to add the user:</label>
          <input class = "form-control" type="text" id="name_team" name="name_team" value="Team name">
        </div>
        <div class="text-right">
          <button class = "btn-app py-1 px-2 my-1 mr-0" type="submit">Add</button>
        </div>
      </form>
    </div>
    



  </div><!--end of row-->
  
</div>

{% endblock content %}