{% extends "bcctapp/base.html" %}
{% load myfilters %}

{% load crispy_forms_tags %}

{% block extra_style %}
<style>
    .profile-size {
        max-width:200px;
        max-height:200px;
    }

    .image-update-custom input {
        padding: 10px;
        outline: none;
    }

    .here {
        background-color: #ddd  ;

    }
    

</style>

{% endblock extra_style %}

{% block content %} 


    <div class="container bg-light border mt-3">
        <div class="row">
            <div class="col-md-5 w-100 here p-3">
                <h2 class="border-bottom mb-4 ">User Info</h2>
                <div class="text-center mt-5">
                    <img class="rounded-circle profile-size text-center block" src="{{ user.profile.image.url }}">
                    <div class="media-body text-center">
                        <div class="user-info">
                            <h2 class="account-heading ">{{ user.username }}</h2>
                            <p class=" ">{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 p-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Update profile Info</legend>
                        {{ u_form|crispy }}

                        <div class="image-update-custom">
                            {{ p_form.image|as_crispy_field}}
                        </div>
                    </fieldset>
                    <div class="form-group m-0 text-right">
                        <button class="btn-app py-1 px-2" type="submit">Update profile</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
{% endblock content %}