/* Background Colors */

.inesc-bg-md-green {
    background-color: #00A776;
}

.inesc-bg-dk-green {
    background-color: #003828;
}

.inesc-border-dk-green {
    border-bottom: 0.5vh solid #003828;
}

.inesc-border-md-green {
    border-top: 0.5vh solid #00A776;
}

#navbarToggle .navbar-nav .nav-link {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Header Section ------------------------------------------------------ */

/* Margins */

.nav-item-start {
    margin-left: 50px;
    margin-right: 30px;
}

#navbarToggle .navbar-nav .nav-item-md {
    margin-right: 20px;
}

#navbarToggle .navbar-nav .nav-item-end {
    margin-right: 50px;
}

/* Link Animations */

#navbarToggle .navbar-nav .nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

#navbarToggle .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 52%;
    right: 52%;
    bottom: 0;
    background: #ffffff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#navbarToggle .navbar-nav .nav-link:hover:before, #navbarToggle .navbar-nav .nav-link:focus:before, #navbarToggle .navbar-nav .nav-link:active:before {
    left: 0;
    right: 0;
}

.chat-icon {
    color: #ffffff;
}

a.icon-block {
    display: inline-block;
    width: 5em;
    float: left;
    text-align: center;
    text-decoration: none;
}

a.icon-block i, a.icon-block span {
    display: block;
    width: 100%;
    clear: both;
}

/* Body Section ------------------------------------------------------- */

body {
    background-image: url('/media/UI_images/Background/InescTec.png');
    background-color: #F6F6F6;
    color: #333333;
    height: 100%
}

.body-main, .body-galery {
    background-color: #ffffff;
}

.body-main-content {
    padding-top: 5rem;
    padding-left: 54px;
    padding-right: 54px;
    min-height: 92vh;
}

@media screen and (max-width: 768px) {
    .body-main {
        min-width: 100%;
    }
    .links-footer a {
        display: inline;
        margin: 5vw;
    }
    #navbarToggle .navbar-nav .nav-link {
        text-align: center;
        margin-right: 0vh;
    }
}

@media screen and (min-width: 768px) {
    .body-main {
        min-width: 70%;
    }
}

/* Footer Section -------------------------------------------------------- */

footer {
    max-height: 8vh;
}