body {
    background-image: url('/media/UI_images/Background/InescTec.png');
    background-color: #F6F6F6;
    color: #333333;
    height: 100%
}

.body-main {
    background-color: #ffffff;
    min-height: 100vh;
}

.body-main-content {
    padding-top: 5rem;
    padding-left: 54px;
    padding-right: 54px;
}

@media screen and (max-width: 768px) {
    .body-main {
        min-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .body-main {
        min-width: 70%;
    }
}