  
  :root {
    --primary-color: #00a776;
    --secondary-color: #2b6954;
    --card-color: #2c7873;
    --link-color: #6fb98f;
    --bg-color: #ddd;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .navbar {
    background-color: var(--primary-color);
  }

  /*generic */
  .no-outline {
    outline: none !important;
  }

  .no-underline {
      text-decoration: none !important;
  }

  .no-underline:hover {
      text-decoration: none !important;
  }

  .text-primary-color {
    color: var(--primary-color) !important;
  }

  .card-color {
    background-color: var(--card-color);
  }

  .bg-color {
    background-color: var(--bg-color) !important;
  }

  .overflow-hidden {
    overflow: auto!important;
  }

  /* buttons and links */
  .btn-app {
    display: inline-block;
    background-color: #fff;
    color: var(--primary-color);
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    transition: color .3s;
  }

  .btn-patient-size {
    width: 95px;
    height: 30px;
  }

  .btn-app:hover {
      display: inline-block;
      background-color:var(--primary-color);
      color: #fff;
      text-decoration: none;
      border: 2px solid var(--primary-color);
      border-radius: 3px;
      position: relative;
  }
  .a-app {
    color: var(--link-color) !important;
  }

  .a-app:hover {
    color: #51d8b6 !important;
    text-decoration: none !important;
  }

  /***** bread crumbs ******/
      .cd-breadcrumb {
        max-width: 100%;
        background-color: #edeff0;
        border-radius: .25em;
    }
    .cd-breadcrumb::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-breadcrumb li {
        display: inline-block;
    }
    .cd-breadcrumb li::after {
        /* this is the separator between items */
        display: inline-block;
        content: '\00bb';
        color: #959fa5;
    }
    .cd-breadcrumb li:last-of-type::after {
        /* hide separator after the last item */
        display: none;
    }
    .cd-breadcrumb li > * {
        /* single step */
        display: inline-block;
        color: #2c3f4c;
    }
    .cd-breadcrumb li.current > * {
        /* selected step */
        color: #96c03d;
    }

    .cd-breadcrumb.custom-separator li::after {
        /* replace the default separator with a custom icon */
        content: '';
        background: url(https://codyhouse.co/demo/cd-breadcrumbs-multi-steps-indicator/img/cd-custom-separator.svg) no-repeat center center;
        vertical-align: middle;
    }
    .cd-breadcrumb.custom-icons li > *::before {
        /* add a custom icon before each item */
        content: '';
        display: inline-block;
        margin-right: .4em;
        margin-top: -2px;
        background: url(https://codyhouse.co/demo/cd-breadcrumbs-multi-steps-indicator/img/cd-custom-icons-01.svg) no-repeat 0 0;
        vertical-align: middle;
    }
    .cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before {
        /* change custom icon using image sprites */
        background-position: -20px 0;
    }
    .cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before {
        background-position: -40px 0;
    }
    .cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before {
        background-position: -60px 0;
    }
    .cd-breadcrumb.custom-icons li.current:first-of-type > *::before {
        /* change custom icon for the current item */
        background-position: 0 -20px;
    }
    .cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before {
        background-position: -20px -20px;
    }
    .cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before {
        background-position: -40px -20px;
    }
    .cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before {
        background-position: -60px -20px;
    }

    @media only screen and (min-width: 768px) {

      .cd-breadcrumb.custom-icons {
          padding: 0 0.8em;
      }

      .cd-breadcrumb li {
        margin: 0.5em 0;
      }

      .cd-breadcrumb li::after {
        margin: 0 0.5em;
      }
    }

    /*** placement style***/

    .parent-flex {
      display: flex;
      flex-wrap: wrap;
    }

    .child-flex {
      flex: 1 1 300px;
    }

    .w-80 {
      width: 80%;
    }
