{% extends "bcctapp/base.html" %}
{% block content %}
<h1 class = "h3 mt-3 mb-4">Please enter the password to access the<span class = "text-info"> Cinderella Home Page</span> :</h1>
<form id="form02" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="password">Password</label><br>
      <input class = "form-control w-50" type="password" id="pwd" name="password" value="">
    </div>

      <button type="submit" class="btn btn-outline-info">Submit</button>

  </form> 
{% endblock content %}