{% extends "bcctapp/base.html" %}

{% block extra_style %}
<style>
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #51a1b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 30px;
  border-radius: 7px;
  background: #2c0065;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #51a1b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #51a1b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #2c0065;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #51a1b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #51a1b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #2c0065;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #51a1b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #51a1b5;
}

@media screen and (max-width: 768px) {
    #form03 .slidecontainer {
        padding: 15px 0px !important;
        margin-bottom: 15px;
    }
    #form03 .slidecontainer p {
        padding: 0px !important;
        width:100%;
    }
}
</style>

{% endblock extra_style %}
{% block content %}
<h1 class = "h2 mt-3 mb-5">Cinderella Application Demo</h1>

<p class = "mb-4 h6">Please fill the form to find a matching case</p>


<form id="form03" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-inline mb-4 w-100">

    <label class = "pr-2" for="age"> Age (years) :</label><br>
    <input class="form-control w-25" type="number" id="age" name="age" value="1" min="1" max="150" required>

    <div class="slidecontainer d-flex px-5">
      <p class = "m-0 px-2">Select a range: <span id="ageRange"></span></p>
      <input type="range" min="0" max="10" value="5" class="slider" id="myRange" name="yrRange">
    </div>
  </div>

  <div class="form-inline mb-4">
    <label class = "pr-2" for="weight">Weight (kg):</label><br>
    <input class="form-control w-25" type="number" id="weight" name="weight" value="1" min="1" max="500" required>
    <div class="slidecontainer  d-flex px-5">
      <p class = "m-0 px-2">Select a range: <span id="weightRange"></span></p>
      <input type="range" min="0" max="10" value="5" class="slider" id="myRange2" name="wgtRange">
    </div>
  </div>

  <div class="form-inline mb-4">
    <label class = "pr-2" for="height">Height (cm):</label><br>
    <input class="form-control w-25" type="number" id="height" name="height" value="1" min="1" max="300" required>
    <div class="slidecontainer d-flex px-5">
      <p class = "m-0 px-2">Select a range: <span id="heightRange"></span></p>
      <input type="range" min="0" max="10" value="5" class="slider" id="myRange3" name="hgtRange">
    </div>
  </div>

    <button class="btn btn-outline-info my-2" type="submit" multiple>Search <i class="fas fa-search"></i></button>
<br>

{% endblock content %}

{% block extra_js %}

<script>

// Age Slider
var slider = document.getElementById("myRange");
var output = document.getElementById("ageRange");
output.innerHTML = slider.value;

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}

// Weight Slider
var slider2 = document.getElementById("myRange2");
var output2 = document.getElementById("weightRange");
output2.innerHTML = slider2.value;

// Update the current slider value (each time you drag the slider handle)
slider2.oninput = function() {
  output2.innerHTML = this.value;
 }

// Height Slider
var slider3 = document.getElementById("myRange3");
var output3 = document.getElementById("heightRange");
output3.innerHTML = slider3.value;

// Update the current slider value (each time you drag the slider handle)
slider3.oninput = function() {
  output3.innerHTML = this.value;
 }

</script>

{% endblock extra_js %}